body {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
}

.logo {
    outline: none;
}

@media (pointer: fine) {
    .logo:hover {
        transform: scale(1.1);
    }
}

.logo:active {
    animation: rotation 0.1s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.scoreArea {
    background-color: rgba(0, 250, 250, .5);
    color: #ff0081;
    border-radius: 0.5rem;
    font-size: 3rem;
    padding: 0.5rem 1rem;
}
  
section.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

section.upgrades {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

section.bonus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #ff0081;
    color: white;
    width: 10rem;
    border-radius: 0.5rem;
    padding: 0.4rem 0;
    outline: none;
}

.btn:active {
    transform: scale(1.1);
}

.btn:disabled {
    background-color: #990040;
    color: grey;
}

.cost {
    background-color: #ff0080bd;
    color: white;
    width: 9rem;
    text-align: center;
    padding: 0.2rem 0;
    border: 0.05rem solid black;
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

.lic-anim{
    animation: scaling 1.5s alternate infinite ease-in;
 }

 @keyframes scaling {
    from  {transform: scale(1);}

    to {transform: scale(1.2);}
}

.resetbtn {
    position: absolute;
    background-color: #ff0081;
    color: white;
    border-radius: 0.5rem;
    padding: 0.4rem;
    outline: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 2rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}